@{
    ViewData["Title"] = "Cuenta bloqueada";
}

<header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center text-danger">Cuenta de usuario bloqueada</h1>
        <p class="text-center">
          La cuenta de usuario ha sido bloqueada por exceder el número de intentos de acceso fallidos.
          Para obtener más información, comuníquese con el administrador de la aplicación.
        </p>
      </div>
    </div>
  </div>
</header>