@{
    ViewData["Title"] = "Confirmación de Email";
}

<h2>¡Gracias por confirmar tu email!</h2>
<p>Ya estás listo para disfrutar de IdentityProject.</p>
<p>Para acceder a la aplicación, solo tienes que hacer clic en el siguiente enlace:</p>
<a asp-controller="Account" asp-action="Login">Iniciar sesión</a>
<p>¡Esperamos que te guste IdentityProject!</p>
<p>Saludos,</p>
<p>El equipo de IdentityProject</p>