@model RegisterViewModel

@{
    ViewData["Title"] = "Registrar usuarios";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Registrar nuevos usuarios</h3>
        <form asp-controller="Account" asp-action="RegisterAdmin" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            @Html.AntiForgeryToken()

            <div class="row mt-4">
                <div class="col-sm-6">

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Ingresa el nombre">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Ingresa un correo electrónico">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Ingresa el nombre de usuario">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="SelectedRole"></label>
                        <select asp-for="SelectedRole" asp-items="@Model.Roles" class="form-control" required>
                            <option disabled selected>---Seleccionar Rol---</option>
                        </select>
                        <span asp-validation-for="SelectedRole" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="CountryCode"></label>
                        <input asp-for="CountryCode" class="form-control" placeholder="Ingresa el código del país">
                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Ingresa el número de teléfono">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="Country"></label>
                        <input asp-for="Country" class="form-control" placeholder="Ingresa el país de residencia">
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="City"></label>
                        <input asp-for="City" class="form-control" placeholder="Ingresa la ciudad de residencia">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" placeholder="Ingresa la dirección de residencia">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="Birthdate"></label>
                        <input type="text" name="Birthdate" class="form-control" id="datepicker"
                            placeholder="Ejemplo: 25/10/1990">
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder="Ingresa la contraseña">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Ingresa la confirmación de la contraseña">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-10 offset-2">
                    <button type="submit" class="btn btn-primary w-75 btn-lg">Registrarse</button>
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}