@{
    ViewData["Title"] = "Confirmación de recuperación de contraseña";
}

<h2>Su contraseña ha sido cambiada</h2>
<p>Gracias por restablecer su contraseña.</p>
<p>Ahora puede iniciar sesión con su nueva contraseña.</p>
<a asp-controller="Account" asp-action="Login">Iniciar sesión</a>