@{
    ViewData["Title"] = "Página principal";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title text-center">Bienvenido</h2>
                    <p class="text-center m-4">Esta aplicación es para aprender</p>
                </div>
            </div>
        </div>
    </div>
</div>
