@{
    ViewData["Title"] = "Página protegida";
}

<header>
    <h2 class="text-bg-primary m-3">Página protegida</h2>    
</header>

<section>
    <p class="alert alert-primary">No todos pueden ver esta página</p>
</section>