@using Microsoft.AspNetCore.Identity
@using IdentityProject.Common.Enums;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mi Cuenta
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="dropdown-item" href="javascript:void(0)">@UserManager.GetUserName(User)</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="EditProfile"
                        asp-route-id="@UserManager.GetUserId(User)">Editar Perfil</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="ChangePassword">Cambiar
                        Contraseña</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Settings">Configuración</a>
                </li>
            </ul>
        </li>



        @if (User.IsInRole(nameof(RoleType.Admin)))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="RegisterAdmin">Registrar</a>
            </li>
        }

        <li class="nav-item">
            <form id="logoutForm" method="post" class="form-inline" asp-area="" asp-controller="Account"
                asp-action="Logout"><button type="submit" class="btn nav-link">Salir</button></form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Acceder</a>
        </li>
    }
</ul>