<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Registro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Acceder</a>
    </li>
</ul>