@model UserViewModel

@{
    ViewData["Title"] = "Asignar Roles";
}

<h1 class="text-center text-primary">Asignar Roles A Usuario</h1>

<div class="row">
    <div class="col-md-8 offset-2">
        <form method="post" asp-controller="User" asp-action="Edit">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="oldRoleId" value="@Model.RoleId" />

            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-4">
                <label asp-for="Email"></label>
                <input asp-for="Email" readonly class="form-control" />
            </div>
            <div class="form-group mb-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RoleId"></label>
                <select asp-for="RoleId" asp-items="@Model.Roles" class="form-control">
                    <option disabled selected>--Seleccionar Rol--</option>
                </select>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Editar Usuario</button>
                <a asp-action="Index" class="text-dark ms-5" style="width:auto">Volver atrás</a>
            </div>
        </form>
    </div>
</div>